article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html{
    font-size: 62.5%;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

.wrapper2{
    width: 85%;
    margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
li, {
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

// Navigation and Header
.headWrapper{
    background: #FF6666;
}
.mainNav{
    display: flex;
    justify-content: flex-end;
}

.mainNav li{
    padding: 30px 30px 0px 0;
    color: white;
    font-size: 2rem;
}

.navLink, .navLink a{
    text-decoration: none;
    color: white;
}

.mainTitle{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle h1{
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 20rem;
}

//Search Bar
.searchTab{
    border-bottom: 1px solid rgb(167, 167, 167);
}

.searchTabs{
    position: relative;
    width: 400px;
    display: table;
    margin: 0 auto;
    border: none;
    border-bottom: 5px solid rgb(167, 167, 167);
    // display: none;
}

.searchBar{
    display: none;
}

.searchForm{
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;
}

.searchInput{
  width: 100%;
  height: 60px;
  outline: none;
  font-size: 2rem;
  text-align: center;
  border: none;
}

.magnify{
    border: none;
    color: rgb(167, 167, 167);
    font-size: 3.5rem;
    position: absolute;
    top: 8px;
    left: 0;
}

// Tab grid
.songContainerOuter{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}

.songContainerInner{
    display: flex;
    width: calc(33.33% - 100px);
    justify-content: space-between;
    // padding: 50px;
    margin: 50px;
    box-shadow: -1px 0px 6px -1px rgba(0,0,0,0.75);
}

.songContainerInner ul{
    display: flex;
    width: 100%;
}

.rightSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.leftSide{
    width: 50%;
    height: 250px;
    background: #b1b1b1;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rightSide li{
    text-align: center;
}

.leftSide li{
    font-size: 4rem;
    text-align: center;
    color: rgb(113, 111, 111);
    font-weight: bold;
}

.bottomRight{
    display: flex;
    margin-top: 15px;
}

.topRight{
    bottom: 0;
}

.topRight li{
    font-size: 2rem;
}

.fa-link{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    margin-right: 5px;
}

.fa-plus, .fa-minus{
    font-size: 2rem;
    cursor: pointer;
}

//Create Login Page
.createLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 100px 50px 100px;
    font-size: 2rem;
    color: rgb(167, 167, 167);
}

.createLogin p:nth-child(1){
    margin-bottom: 30px;
}

.fa-music{
    margin-top: 80px;
    font-size: 8rem;
    color: rgb(111, 109, 109)
}

// Login modal\
.login{
    padding: 100px;
    background: grey;
}
.emailContainer, .passwordContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.598); 
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: 0 auto; 
}

.modal input[type=password], .modal input[type=email] {
    width: 300px;
    height: 25px;
    font-size: 1.5rem;
    text-align: center;
}

.modal label {
    color: white;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 4px 0 4px 0;
    letter-spacing: 0.4rem; 
}

.modal, .overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    position: absolute; 
}

.modal.show {
    z-index: 1; 
}

.modal.show, .overlay.show {
    visibility: visible;
    opacity: 1; 
}

.closeModal, .loginClose input{
    text-transform: uppercase;
}

.loginClose{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.loginClose input, .loginClose button{
    background: #FF6666;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 7px;
    font-size: 1.3rem;
}

// Media queries
@media (max-width : 1310px){
    .songContainerInner{
        width: calc(33.33% - 60px);
        margin: 50px 30px 0 30px; 
    }
}

@media (max-width : 1000px){
    .songContainerInner ul{
        display: inline-block;
    }

    .rightSide, .leftSide{
        width: 100%;
        height: 175px;
    }
}

@media (max-width : 850px){
    .songContainerInner{
        width: calc(33.33% - 40px);
        margin: 50px 20px 0 20px; 
    }
}

@media (max-width : 700px){
    .songContainerInner{
        width: calc(50% - 40px);
        margin: 50px 20px 0 20px; 
    }
}

@media (max-width : 460px){
    .songContainerInner{
        width: 100%;
    }
}